html
  head
    title="Mi primera plantilla en pug js"
  body
    a(
      href='/'
    )='<- Ir a formulario'
    h2='Vista de Productos'
    if productos.length == 0
      h3='No hay datos.'
    else 
      table
        tr 
          th='Nombre'
          th='Precio'
          th='Imagen portada'
        each producto in productos
          tr 
            td=producto.nombre
            td=producto.precio
            td
              img(
                src=producto.img
              )